<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>Rick&Morty</title>
  </head>
  <body>
    <div class="container" th:each="record : ${records}">
      <div class="card__container">
        <article class="card__article">
          <img th:src="${record.image}" alt="image" class="card__image" />
          <div class="card__data">
            <h2 class="card__title" th:text="${record.name}"></h2>
            <span class="card__description" th:text="${record.gender}"></span>
            <span class="card__description" th:text="${record.status}"></span>
            <a href="#" class="card__button">Read More</a>
          </div>
        </article>
      </div>
    </div>
  </body>
<footer>
  <h1>Hello</h1>
</footer>
</html>
